<?xml version="1.0" encoding="UTF-8"?>
<!-- 优先级从高到低分别是 ERROR、WARN、INFO、DEBUG。通过在这里定义的级别，您可以控制到应用程序中相应级别的日志信息的开关。 
	比如在这里定义了INFO级别， 则应用程序中所有DEBUG级别的日志信息将不被打印出来 -->
<configuration scan="true" scanPeriod="60 seconds">
	<property name="LOGFILE_HOME" value="/apps/var/logs" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{HH:mm:ss}]%-5level - [%thread]%caller{1}%m%n </pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOGFILE_HOME}/reportLog.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>[%date] [%-5level] [%-8class{1}:%L] - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGFILE_HOME}/LogFiles/reportLog.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
	</appender>
	
	<!-- 分割tomcat的catalina.out日志文件 -->
	<appender name="projLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.home}/logs/catalina.out</File>
		<Append>true</Append>
		<encoder>
			<pattern>[%date] [%-5level] [%-8class{1}:%L] - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home}/logs/catalina.out.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
    <logger name="org" level="WARN"/>
    <logger name="com" level="WARN"/>

    <!-- 控制sql的显示 -->
    <logger name="cc.oit.bsmes.bas.dao" level="INFO"/>
    <logger name="cc.oit.bsmes.common.dao" level="INFO"/>
    <logger name="cc.oit.bsmes.common.log.dao" level="INFO"/>
    <logger name="cc.oit.bsmes.eve.dao" level="INFO"/>
    <logger name="cc.oit.bsmes.fac.dao" level="INFO"/>
    <logger name="cc.oit.bsmes.inv.dao" level="INFO"/>
    <logger name="cc.oit.bsmes.job.dao" level="INFO"/>
    <logger name="cc.oit.bsmes.ord.dao" level="INFO"/>
    <logger name="cc.oit.bsmes.pla.dao" level="INFO"/>
    <logger name="cc.oit.bsmes.pro.dao" level="INFO"/>
    <logger name="cc.oit.bsmes.wip.dao" level="INFO"/>
    <logger name="cc.oit.bsmes.wwalmdb.dao" level="INFO"/>

	<!-- 开发调试阶段使用DEBUG，部署生产环境用INFO -->
	<root level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="console" />
		<appender-ref ref="projLog" />
	</root>
</configuration>